.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8%;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.navbar__logo img {
    height: 30px;
}

.navbar__links {
    display: flex;
    gap: 2rem;
    position: relative;
    left: -270px;
    list-style: none;
}

.navbar__links a {
    text-decoration: none;
    color: hsl(257, 7%, 63%);
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar__links a:hover {
    color: hsl(255, 11%, 22%);
}

.navbar__auth {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.navbar__auth .login {
    text-decoration: none;
    color: hsl(257, 7%, 63%);
    font-weight: 500;
}

.navbar__auth .signup {
    text-decoration: none;
    background-color: hsl(180, 66%, 49%);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.navbar__auth .signup:hover {
    background-color: hsl(180, 66%, 60%);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 1rem;
    }

    .navbar__links {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .navbar__auth {
        flex-direction: column;
        gap: 0.8rem;
    }
}
